body{
    background-color: rgb(16, 16, 16);
    color: rgb(255, 255, 255);
    font-size: 22px;
    font-family: "Dosis", sans-serif;
    font-weight: 400;
}
img{
    width: 300px;
}
header{
    width: 60%;
    margin: auto;
    margin-top: 30px;
    font-family: "Ubuntu Sans", sans-serif;
}
.header{
    display: flex;
    justify-content: space-between;
}
.fa-instagram, .fa-envelope{
    color: white;
    font-size: 32px;
}
h1{
    font-size: 36px;
}
ul{
    list-style: none;
    display: flex;
}
li{
    padding: 10px;
}
.center-me{
    display: flex;
    width: 50%;
    margin: auto;
    gap: 5%;
    margin-bottom: 10%;
    margin-top: 5%; 
}
.main-img img{
    width: 500px;
}
.main-text{
    margin: auto;
}
.two-photos{
    width: 60%;
    margin: auto;
}
.first-line{
    display: flex;
    gap: 5%;
}
.second-line{
    display: flex;
    flex-direction: row-reverse;
    gap: 5%;
}

footer{
    margin: auto;
    width: 60%;
  font-family: "Ubuntu Sans", sans-serif;    /* same as header font */
}
footer p{
    text-align: center;
}