body{
    background-color: #161616;
    color: rgb(225, 225, 225);
    font-size: 22px;
    font-family: "Dosis", sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}
img{
    width: 350px;
}
header{
    width: 70%;
    margin: auto;
    margin-top: 30px;
    font-family: "Ubuntu Sans", sans-serif;
}
.header{
    display: flex;
    justify-content: space-between;
}
.fa-instagram, .fa-envelope{                      /* this is for icons */
    color: rgb(225, 225, 225);           
    font-size: 32px;
}
h1{
    font-size: 32px;
}
ul{
    list-style: none;
    display: flex;
}
li{
    padding-left: 10px;
}
h2{
    font-size: 42px;
}
.center-me{
    display: flex;
    width: 60%;
    margin: auto;
    gap: 5%;
    margin-bottom: 5%;
    margin-top: 2%; 
}
.main-img img{
    width: 450px;
}
.main-text{
    margin: auto;
}
.two-photos{
    width: 70%;
    margin: auto;
}
.first-line{
    display: flex;
    flex-direction: row-reverse;
    gap: 5%;
}
.second-line{
    display: flex;
    gap: 5%;
}
.my-story{
    background-color:#1a1a1a;
    padding-bottom: 30px;
}
.my-story h2{
    text-align: center;
    padding: 30px 0 50px 0;
}
h3{
    font-size: 32px;
}
.img2-text h3{
    text-align: right;
}
.facts{
    background-color: #242424;
}
.facts-content{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: auto;
    padding-bottom: 40px;
    gap: 5%;
}
.facts-content div{
    width: 300px;
}
.facts h2{
    margin: 0;
    text-align: center;
    padding: 30px 0 30px 0;
}
.facts-content p{
    padding: 20px;
    background-color: #313131;
}


footer{
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 30px;
    width: 70%;
    font-family: "Ubuntu Sans", sans-serif;    /* same as header font */
}
footer p{
    text-align: left;
}
footer dl{
    font-size: 16px;
}
